body{
    background-image: url('https://img.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg?w=2000.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}
h1{
    text-align: center;
    font-family: CURSIVE;
    font-size: 50px;
}
p{  
    font-size: 30px;
    font-family:TIMES NEW ROMAN;
    color: rgb(73, 3, 53);
}
ul li{
    padding: 8px 16px;
    border: 2px solid black;
    width: 25%;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  font-size: 30px;
}